.list-group{
    display: table-row;
    list-style: none;
}
.list-main{
    font-weight: bold;
    margin: auto;
    
}
.list {
    display: table-cell;
    padding: 10px;
    border: 1px solid black;
    width: 25%;
    margin: auto;
}
.students-list {
    margin: 25px auto;
    display: table;
}
